.App {
  text-align: center;
  height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px;
  background-color: chartreuse;
}

h1 {
  color: #086de8;
  font-size: 60px;
  font-family: cursive;
}
